<header>
  <p class="homeP">メモ一覧 </p>
  <i class="fas fa-sort-amount-down fa-2x homeRight"></i>
</header>
<div class="contents">
  <div class="memo memo1">
    <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg">
    <div class="namedate">
      <p>THE BROOKLYN CAFE 栄 テレ</p>
      <p>7月2日(月)20:00</p>
    </div>
  </div>
  <div class="memo memo1">
    <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg">
    <div class="namedate">
      <p>中国料理　王宮</p>
      <p>7月2日(月)20:00</p>
    </div>
  </div>
  <div class="memo memo1">
    <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg">
    <div class="namedate">
      <p>中国料理　王宮</p>
      <p>7月2日(月)20:00</p>
    </div>
  </div>
  <div class="memo memo1">
    <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg">
    <div class="namedate">
      <p>中国料理　王宮</p>
      <p>7月2日(月)20:00</p>
    </div>
  </div>
  <div class="memo memo1">
    <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg">
    <div class="namedate">
      <p>中国料理　王宮</p>
      <p>7月2日(月)20:00</p>
    </div>
  </div>
  <div class="memo memo1">
    <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg">
    <div class="namedate">
      <p>中国料理　王宮</p>
      <p>7月2日(月)20:00</p>
    </div>
  </div>
  <div class="memo memo1">
    <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg">
    <div class="namedate">
      <p>中国料理　王宮</p>
      <p>7月2日(月)20:00</p>
    </div>
  </div>
  <div class="memo memo1">
    <img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg">
    <div class="namedate">
      <p>中国料理　王宮</p>
      <p>7月2日(月)20:00</p>
    </div>
  </div>


</div>
<footer>
  <p>０件のメモ</p>
  <%= link_to "/shops/new" do %>
    <i class="far fa-edit fa-2x icon"></i></a>
<% end %>
</footer>
