<header>
  <%= link_to "戻る","/shops/", {:class => "createLeft"}  %>
  <p class="createCenter">メモ詳細</p>
  <%= link_to "編集","/shops/", {:class => "createRight"}  %>
  <!-- もう一つページ作る？ -->
</header>
<div class="contents create">
   <p><i class="fas fa-utensils fa-2x"></i>お店の名前だよ</p>
   <p><i class="far fa-clock fa-2x"></i>行った時間だよ</p>
   <p><i class="fas fa-map-marker-alt fa-2x"></i>お店の場所だよ</p>
   <p><i class="fas fa-subway fa-2x"></i>お店の最寄駅だよ</p>
   <p><img src="https://imgfp.hotp.jp/IMGH/33/60/P030143360/P030143360_238.jpg" class="createImage"></p>
   <p><i class="fas fa-dollar-sign fa-2x"></i></p>

 </div>
